#gameboard {
  --time: 0.25s;
  --half-size: calc(var(--size) / 2);
  --quarter-size: calc(var(--size) / 4);

  width: var(--board-size);
  aspect-ratio: 1 / 1;
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: repeat(var(--width), 1fr);
  grid-template-columns: repeat(var(--width), 1fr);

  background-color: #666a86;
}

.board-piece {
  align-self: center;
  justify-self: center;
  width: var(--size);
  height: auto;
}

/* Gem Colors and Shapes */

.NONE {
  opacity: 0;
  border-radius: 1000px;
  background-color: none;
  border: none;
}

/******************ANIMATIONS******************/

/* Gem select animation */

.selected-true {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Gem swap animation */

.board-piece {
  transition: transform var(--time) ease-in-out;
}

/* Gem break animation */

/* .NONE {
  transition: opacity var(--time) ease-out;
} */